@font-face {
    font-family: 'wednesday';
    src: url('../fonts/Wednesday.ttf') format('truetype');
}
@font-face {
    font-family: 'brazil-font';
    src: url('./../fonts/BrazilFood3.ttf') format('truetype');
}
body {
    background: url("../images/basil-delicious-food-459469.jpg") no-repeat center center fixed;
    background-size: cover;
    
}

.fluid-header {
    font-size: calc(40px + (130 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.lead,.title,.btn {
    font-family: 'wednesday', arial;
}

.title {
    margin: .25em 0em 0em 0em;
    /* font-size: 8em; */
}

.lead {
    font-size: 2em;
    margin-top: .5em;
}

h1,p {
    color: black;
    text-align: center;
}

.h1{
    font-size: 50px; 
}

.transparent {
    background-color: rgba(255,255,255,0.6);
    min-height: 100vh;
    width: 80%;
    margin: auto;
}
 
.btn {
    font-family: 'brazil-font',arial;
    color: white;
    font-weight: bold;
    padding: .5em;
    font-size: 2em;
    margin: 0em 2em; 
    border: 2px solid white;

}
.hamster-logo{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
 

}

.hamster-image{
    width: 90%;
    height: 90%;
}

.footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    clear: both;
    text-align:center;
    font-family: 'wednesday', arial;
    color: #540804;
    font-size: 1.1em;
}

@media (min-width: 768px) and (max-width: 992px) {
    .btn {
        font-size: 2em;
        margin: 0.5em 2em;
    }
}


@media screen and (max-width: 767px) {


    .btn {
        margin: 0.5em 2em;
        padding:15px 30px;
        font-size: 95%;
        line-height: 1;
    }
}