/* Fonts */

@font-face {
    font-family: 'brazil-font';
    src: url('./../fonts/BrazilFood3.ttf') format('truetype');
}

@font-face {
    font-family: 'wednesday';
    src: url('./../fonts/Wednesday.ttf') format('truetype');
}


.main-container {
    background-color: coral;
    height: 100vh;
}

.header-bg {
    /* background-color: rgb(189, 60, 0); */
    background-color: firebrick;
}

.header-font {
    font-family: 'wednesday', arial;
}

.header-size {
    font-size: 6rem;
}

.ingredients-list {
    /* background-color: palegreen; */
    margin: 2rem 0;
}

.m-auto {
    margin: 0 auto;
}

.name-height {
    height: 27vh;
}

.bg-violet {
    background-color: white;
    /* width: 80vw */
}

.button-border {
    border: 2px solid white;
}

.button-color {
    background-color:chocolate;
    color: white;
}

.button-color-two {
    background-color: rgb(151, 35, 35);
    color: white;
}

.fluid-header {
    font-size: calc(35px + (100 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.shadow {
    text-shadow: 2px 2px 8px rgb(202, 124, 124);
}

.sidebar {
    background-color: #FFA56A;
    height: 100%;
    position: fixed;
    width: 25vw;
    left: 0;
    top: 0;
}

.submit {
    margin: 0.25em;
}

.cardTop{
    display: flex;
    justify-content: space-between;
}
.hover-fade{
    position: relative;
}
.hover-fade:hover img{
  opacity: 0.3;
}

.hover-fade:hover .ingredient-scroll {
  opacity: 1; 
}

.hover-fade-fade img,
.ingredient-scroll {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.ingredient-scroll {
  position: absolute;
  color: white;
  left: 0;
  top: 20%;
  right: 0;
  text-align: center;
  opacity: 0;
  background: tomato;
  font-size: 1em;
  overflow-y: scroll;
  height: 55%;
  padding: .5em;
  border-radius: 3%;

}

.otherOption{
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 99;
}
.otherOption:hover{
    transform: scale(1.1);
}

.legend{
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 99;

    padding: .5em;

}

.legend-icon{
    opacity: 1;
}

.next{
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 99;
    padding: .5em;

}
.instructions{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 2em 1em 1em 1em;
    font-size: 3em;
    position: relative;
    justify-content: center;
}

.instruction-text{
    position: absolute;
    z-index: 99;
    margin-top: 2em;

}
.utensil-icon{
    opacity: .3;
}
.hide{
    display: none;
}

.white {
    color: white;
}

.wiggle:hover {
    animation: shake .75s; 
    animation-iteration-count: infinite; 
    
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.point{
    padding: 0em 1em 0em 1em;
}
.point:hover {
    animation: point .75s; 
    animation-iteration-count: infinite; 
    
}

@keyframes point {
    0% { transform: translate(4px, 0px);}
    20% { transform: translate(-4px, 0px); }
    40% { transform: translate(4px, 0px); }
    60% { transform: translate(-4px, 0px); }
    80% { transform: translate(4px, 0px); }
    100% { transform: translate(4px, 0px); }
}
/* ------------------------------------------------------------------
----------------------------MEDIA QUERIES----------------------------
--------------------------------------------------------------------*/

/* These rules take effect when the browser's width is 768px or less. */
@media screen and (max-width: 768px) {

.fluid-header {
    font-size: 6rem;
}

/* Adjust the sidebar so that it snaps to the top of the screen for med to small screen sizes */
.sidebar {
    height: 50%;
    position: inherit;
    width: 100vw;
}

}