
.main-container {
    background-color: coral;
    height: 100vh;
}

.ingredients-list {
    background-color: palegreen;
    margin: 2rem 0;
}

.m-auto {
    margin: 0 auto;
}

.bg-violet {
    background-color: palevioletred;
    /* width: 80vw */
}

.sidebar {
    background-color: palegoldenrod;
    height: 100%;
    position: fixed;
    width: 25vw;
    left: 0;
    top: 0;
}

.submit {
    margin: 0.25em;
}


/* ------------------------------------------------------------------
----------------------------MEDIA QUERIES----------------------------
--------------------------------------------------------------------*/

/* These rules take effect when the browser's width is 768px or less. */
@media screen and (max-width: 768px) {

/* Adjust the sidebar so that it snaps to the top of the screen for med to small screen sizes */
.sidebar {
    height: 50%;
    position: inherit;
    width: 100vw;
}

}