
.main-container {
    background-color: coral;
    height: 100vh;
}

.ingredients-list {
    background-color: palegreen;
    margin: 1em;
}

.m-auto {
    margin: 0 auto;
}

.right-side {
    background-color: palevioletred;
    /* width: 80vw */
}

.sidebar {
    background-color: palegoldenrod;
    /* height: 100%;
    position: fixed;
    width: 20vw;
    left: 0;
    top: 0; */
}

.submit {
    margin: 0.25em;
}